@{
    ViewBag.Title = "Home Page";
}


@ViewBag.adi
<hr />


<div class="row">

    <div class="col-md-6">

        <form role="form">
            <div class="form-group"><label>Email</label> <input type="email" placeholder="Enter email" class="form-control"></div>
            <div class="form-group"><label>Password</label> <input type="password" placeholder="Password" class="form-control"></div>
            <div>
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Log in</strong></button>
                <label> <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember me </label>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <div class="m-r-md inline">
            <div style="display:inline;width:85px;height:85px;"><canvas width="85" height="85"></canvas><input type="text" value="75" class="dial m-r-sm" data-fgcolor="#1AB394" data-width="85" data-height="85" style="width: 46px; height: 28px; position: absolute; vertical-align: middle; margin-top: 28px; margin-left: -65px; border: 0px; background: none; font: bold 17px Arial; text-align: center; color: rgb(26, 179, 148); padding: 0px; -webkit-appearance: none;"></div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="m-r-md inline">
            <div style="display:inline;width:85px;height:85px;"><canvas width="85" height="85"></canvas><input type="text" value="25" class="dial m-r" data-fgcolor="#ED5565" data-width="85" data-height="85" data-step="1000" data-min="-15000" data-max="15000" data-displayprevious="true/" style="width: 46px; height: 28px; position: absolute; vertical-align: middle; margin-top: 28px; margin-left: -65px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(237, 85, 101); padding: 0px; -webkit-appearance: none;"></div>
        </div>
    </div>


</div>

