<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/MyTema/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyTema/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/MyTema/css/animate.css" rel="stylesheet" />
    <link href="~/Content/MyTema/css/style.css" rel="stylesheet" />

</head>
<body style="background-color:silver">

    <div id="wrapper">
        <div class="wrapper wrapper-content">

            @RenderBody()

        </div>
    </div>




    <script src="~/Content/MyTema/js/jquery-2.1.1.js"></script>
    <script src="~/Content/MyTema/js/bootstrap.min.js"></script>
    <script src="~/Content/MyTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/MyTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/MyTema/js/inspinia.js"></script>
    <script src="~/Content/MyTema/js/plugins/pace/pace.min.js"></script>
</body>
</html>
