
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClientMaster.cshtml";
}

<h2>CLİENT ANASAYFA</h2>

<a href="~/Anasayfa/Login">Login Sayfasına Git</a>


<br />


<div class="col-md-6 col-md-offset-6">
    <div class="ibox">
        <div class="ibox-content">          
            <div class="text-center article-title">
                <span class="text-muted"><i class="fa fa-clock-o"></i>@DateTime.Now</span>
                <h1>
                   @ViewBag.Baslik
                </h1>
            </div>
            @ViewBag.Icerik
          
            <hr>
       
        </div>
    </div>
</div>




 
