
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body style="background-color:orange">
    <div style="width:70%;height:90%; text-align:center;margin:auto;margin-top:10%">

        <input type="text" style="width:200px" placeholder="Kullanıcı Adı"/>
        <br />
        <input type="text" style="width:200px;margin-top:20px" placeholder="Şifre" />
        <br />
        <button>ADMINA GIT</button>
        <br />
        <a  href="~/Home/Index">Admin Sayfasını Aç</a>

    </div>
</body>
</html>
