
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body style="background-color:orange">

    <div style="width:70%;height:90%; text-align:center;margin:auto;margin-top:10%">

        @using (Html.BeginForm("Login", "Anasayfa", FormMethod.Post))
        {
        <input type="text" name="mail" style="width:200px" placeholder="mail" />
        <br />
        <input type="text" name="sifre" style="width:200px;margin-top:20px" placeholder="Şifre" />
        <br />
        <button type="submit">LOGİN OL</button>
        <br />
        }
        <hr />
        <a href="~/Home/Index">Admin Sayfasını Aç</a>





    </div>
</body>
</html>
